.container{
	padding: 25px;
}

body {
	background-color: darkslategray;
	font-size: 16px;

}
h3 {
	color: white
}

#js-resultsTableElement {
	color: white;
}

.modal-title {
	text-align: center;
}

.text-center {
	font-size: 3rem;
}

.modal-body {
	text-align: center;

}